#{extends 'main.html' /}
#{set title:'Tweets' /} 

<nav class="ui inverted green menu">
<header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="right menu">
    <a class="ui active item" href="/tweet"> Write a tweet</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

<section class="ui raised segment">

	<div class="ui grid">
	  <div class="eight wide column">#{include "segments/writetweet.html" /} </div>
	  <div class="eight wide column">#{include "segments/list.html" /}</div>
	  
	</div>
	
  

  

</section>