#{extends 'main.html' /} 
#{set title:'List' /} 

<nav class="ui inverted green menu">
  <header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="right menu">
    <a class="item" href="/tweet"> Write a tweet</a>
    <a class="active item" href="/tweet/list">  List </a>
    <a class="item" href="/logout">  Logout </a>
  </div>
</nav>    

#{include "segments/list.html" /} 
