#{extends 'main.html' /}
#{set title:'Special' /} 

<nav class="ui inverted green menu">
  <header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="right menu">
    <a class="item" href="/tweet"> Write a tweet</a>
    <a class="active item" href="/tweet/list">  List </a>
    <a class="item" href="/logout">  Logout </a>
  </div>
</nav>    

      <table class="ui green celled table segment">
        <thead>
          <tr> 
            <th>Message</th>
            
          </tr>
        </thead>
        <tbody>
          #{list items:tweets, as:'tweet'}
          <tr>
                     
            <td>${tweet.message_text} 
            <a href="/tweet/delateTweet/${tweet.id}"> 
            <div class="ui green mini basic button"> delate tweet  </div>  </a> </td> 
               
          </tr>
          #{/list}
        </tbody>
       
       
      </table>
    
