<section class="ui raised segment">
  <div class="ui grid">
    
    <article class="fifteen wide column">
      <table class="ui green fixed 3 line celled table segment">
        <thead>
          <tr> 
            <th>Date</th>           
            <th>Contact</th>
            <th>Message</th>
            
          </tr>
        </thead>
        <tbody>
          #{list items:tweets, as:'tweet'}
          <tr>
            <td>${tweet.date}</td>
            <td>${tweet.contact}</td>           
            <td>${tweet.message_text} 
            <a href="/tweet/showTweet/${tweet.id}">
                 <div class="ui green mini basic button"> show tweet  </div>  </a>
            <a href="/tweet/delateTweet/${tweet.id}">
                 <div class="ui green mini basic button"> delate tweet  </div>  </a> </td> 
               
          </tr>
          #{/list}
        </tbody>
       
       
      </table>
    </article>
    
</section>