<nav class="ui inverted green menu">
  <header class="header item"> <a href="/"> Welcome </a> </header>
  <div class="left menu">
    <a class="item" href="/signup"> Signup</a>
    <a class="item" href="/login">  Login</a>
  </div>
</nav>    