<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="/public/images/connection.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome to Tweet app  </header>
      <p> Write tweets to connect with your friends </p>
      <p> Please, register for this service </p>
    </article>
    
  </div>
</section>