<section class="ui raised segment">
	<div class="ui small header">${tweeter.firstName} ${tweeter.lastName}'s Profile</div>
	<section class="ui green two column grid segment">
		<div class="row">
			<div class="column">
				<div class="ui medium image">
					<img src="/public/images/connection.jpg" class="ui medium image">
				</div>
			</div>
			<div class="column">
				<div class="ui small header">Write messages(max 140 char)</div>
				<form action="/tweet/writetweet" class="ui form" method="post">
					<div class="ui form">
						<div class="field">
							<label> Contact </label> <input type="text" name="contact" maxlength="20">
						</div>
					</div>
					<div class="field">
						<label>Message Text</label><textarea name="message_text" maxlength="140"></textarea>
					</div>
					<button class="ui fluid blue labeled submit icon button">
						<i class="icon edit"></i> Send
					</button>
				</form>

			</div>
		</div>
	</section>
</section>